#wrapper {
  align-content: center;
  width: 98%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
  height: 620px;
}
#leftpic {
  width: 40%;
  display: inline-block;
}
.crop {
  height: 250px;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.crop img {
  height: 100%;
  width: auto;
}
#rightcontent {
  width: 60%;
  display: inline-block;
  align-content: center;
  vertical-align: top;
  text-align: center;
}
